.admin-layout{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:250px;
    background:#1e293b;
    color:white;
    padding:20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:30px;
}

.sidebar button{
    width:100%;
    padding:12px;
    margin-bottom:10px;
    border:none;
    border-radius:8px;
    background:#334155;
    color:white;
    cursor:pointer;
}

.sidebar button:hover{
    background:#2563eb;
}

.content{
    flex:1;
    padding:30px;
    background:#f5f5f5;
}